<head>
  <% include head.ejs %>
</head>
<body>

  <% include header.ejs %>
<form action="/edit/<%= id %>" method="post" name="form1">
    <div class="form-group">
        <label>First Name</label>
        <input type="text" name="first_name" class="form-control" value="<%= first_name%>">
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" name="last_name" class="form-control" value="<%= last_name%>">
      </div>
      <div class="form-group">
        <label>Date of Birth</label>
        <input type="text" name="date_of_birth" class="form-control" value="<%= date_of_birth%>">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" name="email" class="form-control" value="<%= email%>">
      </div>
      <div class="form-group">
        <label>Username</label>
        <input type="text" name="username" class="form-control" value="<%= username%>">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="text" name="pass_hash" class="form-control" value="<%= pass_hash%>">
      </div>
        <input type="submit" class="btn btn-primary" value="Save">
</form>
</body>
